


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản lý thành viên</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: bold;color: red;font-size: large;">
                Thêm thành viên

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="usr">Username<sup class="required">*</sup></label>
                                <input type="text" class="form-control" id="usr" ng-model="member.username">
                                <div class="ip-error">{{error.username}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pass">Password<sup class="required">*</sup></label>
                                <input type="password" class="form-control" id="pass"  ng-model="member.password">
                                <div class="ip-error">{{error.password}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="role">Confirm password</label>
                                <input type="password" class="form-control" id="confirm"  ng-model="member.password_confirmation">
                                <div class="ip-error">{{error.password_confirmation}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Email<sup class="required">*</sup></label>
                                <input type="text" class="form-control" id="email"  ng-model="member.email">
                                <div class="ip-error">{{error.email}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone"  ng-model="member.phone" only-digits>
                                <div class="ip-error">{{error.phone}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="role">Role</label>
                                <select ng-model = "member.role" class="form-control" id="role" ng-change="showInputMember()">
                                    <option value="{{role}}" ng-repeat="role in member.roles">{{role}}</option>
                                </select>
                                <div class="ip-error">{{error.role}}</div>

                            </div>
                        </div>

                    </div>
                    </div>
                    <!-- ==================================== tài xế ===================================== -->
                    <div id="taixe" style="display:none; border-top: 3px dotted darkgray;padding-top: 20px;margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="fullname">Họ tên<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="fullname" ng-model="taixe.fullname">
                                    <div class="ip-error">{{error.fullname}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="date_born">Ngày sinh<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_1'>
                                    <input type="text" class="form-control" id="date_born" ng-model="taixe.date_born">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                        <div class="ip-error">{{error.date_born}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="quoctich">Quốc tịch<sup class="required">*</sup></label>
                                    <select ng-model = "taixe.quoctich" class="form-control" id="quoctich">
                                        <option value="{{country.vietname_name}}" ng-repeat="country in countrys">{{country.vietname_name}}</option>
                                    </select>
                                    <div class="ip-error">{{error.quoctich}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="address">Địa chỉ<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="address" ng-model="taixe.address">
                                    <div class="ip-error">{{error.address}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cmnd">CMND<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="cmnd" ng-model="taixe.cmnd">
                                    <div class="ip-error">{{error.cmnd}}</div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="noicap_cmnd">Nơi cấp CMND<sup class="required">*</sup></label>
                                     <select ng-model = "taixe.noicap_cmnd" class="form-control" id="noicap_cmnd">
                                        <option value="{{tinh.name}}" ng-repeat="tinh in tinhs">{{tinh.name}}</option>
                                    </select>
                                    <div class="ip-error">{{error.noicap_gplx}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngaycap_cmnd">Ngày cấp CMND<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_6'>
                                        <input type="text" class="form-control" id="ngaycap_cmnd" ng-model="taixe.ngaycap_cmnd">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                                    </div>
                                        <div class="ip-error">{{error.ngaycap_cmnd}}</div>
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="so_giayphep_laixe">Số GPLX<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="so_giayphep_laixe" ng-model="taixe.so_giayphep_laixe">
                                    <div class="ip-error">{{error.so_giayphep_laixe}}</div>
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="hang">Hạng</label>
                                    <select ng-model = "taixe.hang" class="form-control" id="hang">
                                        <option  value="{{han.hang}}"" ng-repeat="han in banglais">{{han.hang}}</option>
                                    </select>
                                    <div class="ip-error">{{error.hang}}</div>

                                </div>
                            </div>
                        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="loaixe_duoclai">Loại xe được lái<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="loaixe_duoclai" ng-model="taixe.loaixe_duoclai">
                                    <div class="ip-error">{{error.loaixe_duoclai}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngay_gplx">Ngày cấp GPLX<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_8'>
                                        <input type="text" class="form-control" id="ngay_gplx" ng-model="taixe.ngay_gplx">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                                    </div>
                                        <div class="ip-error">{{error.ngay_gplx}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngayhet_gplx">Ngày hết hạn GPLX<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_9'>
                                        <input type="text" class="form-control" id="ngayhet_gplx" ng-model="taixe.ngayhet_gplx">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                                    </div>
                                        <div class="ip-error">{{error.ngayhet_gplx}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="noicap_gplx">Nơi cấp GPLX</label>
                                    <select ng-model = "taixe.noicap_gplx" class="form-control" id="noicap_gplx">
                                        <option value="{{tinh.name}}" ng-repeat="tinh in tinhs">{{tinh.name}}</option>
                                    </select>
                                    <div class="ip-error">{{error.noicap_gplx}}</div>
                                </div>
                            </div>
                        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="so_cnthnv">Số CNTHNV<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="so_cnthnv" ng-model="taixe.so_cnthnv">
                                    <div class="ip-error">{{error.so_cnthnv}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngay_cnthnv">Ngày cấp CNTHNV<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_10'>
                                        <input type="text" class="form-control" id="ngay_cnthnv" ng-model="taixe.ngay_cnthnv">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                                    </div>
                                        <div class="ip-error">{{error.ngay_cnthnv}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngayhet_cnthnv">Ngày hết hạn CNTHNV<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_11'>
                                        <input type="text" class="form-control" id="ngayhet_cnthnv" ng-model="taixe.ngayhet_cnthnv">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                                    </div>
                                        <div class="ip-error">{{error.ngayhet_cnthnv}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="noicap_cnthnv">Nơi cấp CNTHNV</label>
                                    <select ng-model = "taixe.noicap_cnthnv" class="form-control" id="noicap_cnthnv">
                                         <option value="{{tinh.name}}" ng-repeat="tinh in tinhs">{{tinh.name}}</option>
                                    </select>
                                    <div class="ip-error">{{error.noicap_cnthnv}}</div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngaykham_suckhoe">Ngày khám sức khỏe<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_12'>
                                        <input type="text" class="form-control" id="ngaykham_suckhoe" ng-model="taixe.ngaykham_suckhoe">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                                    </div>
                                        <div class="ip-error">{{error.ngaykham_suckhoe}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngayhet_suckhoe">Ngày hết hạn GKSK<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_2'>
                                        <input type="text" class="form-control" id="ngayhet_suckhoe" ng-model="taixe.ngayhet_suckhoe">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                                    </div>
                                        <div class="ip-error">{{error.ngayhet_suckhoe}}</div>
                                </div>
                            </div>
                        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ghichu">Ghi chú</label>
                                    <input type="text" class="form-control" id="ghichu" ng-model="taixe.ghichu">
                                    <div class="ip-error">{{error.ghichu}}</div>
                                </div>
                            </div>
                            
                        </div>
                    </div> 
                    <!-- ==================================== Chủ xe ===================================== -->
                    <div id="chuxe" style="display:none; border-top: 3px dotted darkgray;
    padding-top: 20px;
    margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="donvi">Đơn vị<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="donvi" ng-model="chuxe.donvi">
                                    <div class="ip-error">{{error.donvi}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="chu_dautu">Chủ đầu tư<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="chu_dautu" ng-model="chuxe.chu_dautu">
                                    <div class="ip-error">{{error.chu_dautu}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngaysinh">Ngày sinh<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_3'>
                                    <input type="text" class="form-control" id="ngaysinh" ng-model="chuxe.ngaysinh">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                        <div class="ip-error">{{error.ngaysinh}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="quoctich">Quốc tịch<sup class="required">*</sup></label>
                                     <select ng-model = "chuxe.quoctich" class="form-control" id="quoctich">
                                        <option value="{{country.vietname_name}}" ng-repeat="country in countrys">{{country.vietname_name}}</option>
                                    </select>
                                    <div class="ip-error">{{error.quoctich}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="hktt">Hộ khẩu thường trú<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="hktt" ng-model="chuxe.hktt">
                                    <div class="ip-error">{{error.hktt}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cmnd">CMND/ Căn cước/ Hộ chiếu<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="cmnd" ng-model="chuxe.cmnd">
                                    <div class="ip-error">{{error.cmnd}}</div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="noicap_cmnd">Nơi cấp CMND/ Căn cước/ ...<sup class="required">*</sup></label>
                                     <select ng-model = "chuxe.noicap_cmnd" class="form-control" id="noicap_cmnd">
                                         <option value="{{tinh.name}}" ng-repeat="tinh in tinhs">{{tinh.name}}</option>
                                    </select>
                                    <div class="ip-error">{{error.noicap_cmnd}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ngaycap_cmnd-cx">Ngày cấp CMND/ .../ Hộ chiếu<sup class="required">*</sup></label>
                                    <div class='input-group date' id='datetimepicker_4'>
                                        <input type="text" class="form-control" id="ngaycap_cmnd-cx" ng-model="chuxe.ngaycap_cmnd">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                                    </div>
                                        <div class="ip-error">{{error.ngaycap_cmnd}}</div>
                                </div>
                            </div>
                            </div>
                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="dt_ban">Điện thoại bàn</label>
                                    <input type="text" class="form-control" id="dt_ban" ng-model="chuxe.dt_ban"  only-digits>
                                    <div class="ip-error">{{error.dt_ban}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="dtdd">Điện thoại đi động<sup class="required">*</sup></label>
                                    <input type="text" class="form-control" id="dtdd" ng-model="chuxe.dtdd" only-digits>
                                    <div class="ip-error">{{error.dtdd}}</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ghichu">Ghi chú</label>
                                    <input type="text" class="form-control" id="ghichu" ng-model="chuxe.ghichu">
                                    <div class="ip-error">{{error.ghichu}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-push-5">
                            <div class="form-group">
                                <input ng-click="add_User()"  style="line-height: 8px;" class="form-control btn-success" type="button" value="Submit" id="adduser-submit">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<style>
    table,.td1{
        border-left: none !important;
    }
    table,.td2{
        border-right: none !important;
    }
    #modal-tran tr{
        background: #f9f9f9 !important;
    }
    #tlb-field{
        margin-bottom: 10px;
    }
    .small{
        width: 80%;
        height: 25px;
        margin: 0 10px;
    }

</style>
<script>

</script>




